params {
    config_profile_name        = 'Test profile to just deploy a tool'

    skip_stats         = true
    skip_eval          = true
    skip_compression   = true
    skip_multiqc       = true
    skip_preprocessing = true
    skip_shiny         = true
    skip_visualisation = true
    skip_pdbconversion = true
    build_consensus    = false
}