process {
    withName: "CLUSTALO_GUIDETREE" {
        cpus   = { 1     * task.attempt }
        memory = { 6.GB  * task.attempt }
        time   = { 2.h   * task.attempt }
    }

    withName: "FAMSA_GUIDETREE" {
        cpus   = { 1     * task.attempt }
        memory = { 6.GB  * task.attempt }
        time   = { 2.h   * task.attempt }
    }

    withName: "MAFFT_GUIDETREE" {
        cpus   = { 1     * task.attempt }
        memory = { 6.GB  * task.attempt }
        time   = { 2.h   * task.attempt }
    }

    withName: "CLUSTALO_ALIGN" {
        cpus   = { 1     * task.attempt }
        memory = { 6.GB  * task.attempt }
        time   = { 2.h   * task.attempt }
    }

    withName: "FAMSA_ALIGN" {
        cpus   = { 1     * task.attempt }
        memory = { 6.GB  * task.attempt }
        time   = { 2.h   * task.attempt }
    }

    withName: "MAFFT_ALIGN" {
        cpus   = { 1     * task.attempt }
        memory = { 6.GB  * task.attempt }
        time   = { 2.h   * task.attempt }
    }

    withName: "LEARNMSA_ALIGN" {
        cpus   = { 1     * task.attempt }
        memory = { 6.GB  * task.attempt }
        time   = { 2.h   * task.attempt }
    }



}