/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/multiplesequencealign -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile without samplesheet'
    config_profile_description = 'Minimal test dataset to check pipeline function when the samplesheet is not used'

    skip_stats      = true
    skip_eval       = true
    build_consensus = false

    // Input data
    seqs         = params.pipelines_testdata_base_path + 'multiplesequencealign/testdata/setoxin-ref.fa'
    pdbs_dir     = params.pipelines_testdata_base_path + 'multiplesequencealign/testdata/af2_structures/seatoxin-ref.tar.gz'
    tree         = "FAMSA"
    args_tree    = "-gt upgma -medoidtree"
    aligner      = "FAMSA"
    args_aligner = "-refine_mode on"
}
